[submodule "python-scrap-telegram"]
	path = python-scrap-telegram
    url  = git@github.com:Askarikus/monte-rent-python-scrap-telegram.git
[submodule "monte-rent"]
	path = monte-rent
    url  = git@github.com:Askarikus/monte-rent-inner-symfony.git
