.env
logs
docker/db/data
monte-rent
python-scrap-telegram
docker/php-cli/askar/.zsh_history
.vscode/settings.json
.windsurf
downloads
anon.session

# Ignore local zsh frameworks/plugins
/docker/php-cli/askar/.oh-my-zsh/
/docker/php-cli/askar/.zsh/
